<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RemoteAudio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>VGMstreamer WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>993B99F01A78C9A50037372D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>993B99FA1A78C9A50037372D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99E466491A263ED7009360A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99E4665E1A263ED8009360A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
